.button-container {
    width: 800px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    text-indent: 10px;
}

.questionnaire {
    width: 300px;
    margin: auto;

}